<h2>detail du "{{materiel.libelle}}" d'ID:{{materiel.id}} </h2>
<div class="conatiner">
    <div class="row">
        <div class="col-6">
            <ul class="« list-group">
                <li class="list-group-item"><img [src]="materiel.photo" alt="image pc" withd="100px" height="100px"></li>
                <li class="list-group-item"> marque{{materiel.marque}}</li>
                <li class="list-group-item">Prix {{materiel.prix}}</li>
                <li class="list-group-item">description {{materiel.description}}</li>
                <li class="list-group-item">quantite {{materiel.quantite}}</li>
                <li class="list-group-item">haute gamme <input type="checkbox" [checked]="materiel.hautGamme"></li>
                <li class="list-group-item"><button type="button" class="btn btn-primary">Afficher le commentaire</button></li>
            </ul>
        </div>
        <div class="col-6">
            <ul>
            <li *ngFor= "let p of materiel"> 
            <nou-comment [com]="p.commentaires">
           </nou-comment>
            </li>
        
           </ul>
        </div>
    </div>
</div>