
<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>Détail du "{{materiel.libelle}}" d'Id : {{materiel.id}}</h2>
            <ul class="list-group">
                <li class="list-group-item">
            <img [src]="materiel.photo" alt="photo">
                </li>
                <li class="list-group-item">
                    Marque : {{materiel.marque}}
                </li>
                <li class="list-group-item">
                    Prix {{materiel.prix}}
                </li>
                <li class="list-group-item">
                    Description {{materiel.description}}
                </li>
                <li class="list-group-item">
                    Quantité : {{materiel.quantite}}
                </li>
                <li class="list-group-item">
                    <input type="checkbox" [checked]="materiel.hautGamme"> Haut de Gamme
                </li>
                <li class="list-group-item">
                    <button type="button" class="btn btn-primary"
                     (click)="afficher = !afficher">Afficher les commentaires</button>
                </li>
            </ul>
            
        </div>
        <div class="col-6" *ngIf="afficher">
            <h2>Liste des commentaires</h2>
            <div *ngFor= "let c of materiel.commentaires; index as i">
                <nou-comment [comm]="c" [indice]="i"></nou-comment>
            </div>
        </div>
    </div>
</div>
